<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/styles.css">
    <title>e-comerce - Contacto</title>
</head>
<body>
    <main class="contact">
        <h1>Conctactos</h1>
        <section class="aboutMe">
            <h3>Contactarme</h3>
            <p>Pablo Bustos:</p>
            <a href="https://www.linkedin.com/in/pipablo/" target="_blank">LinkedIn</a>
            <a href="https://pablobustos-porfolio.vercel.app/" target="_blank">CV Online</a>
        </section>
        <section class="aboutApi" >
            <h3>contactalos</h3>
            <a href="https://fakestoreapi.com/docs">Fake Store API</a>
        </section>



    </main>
</body>
</html>