<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/styles.css">
    <title>Document</title>
</head>
<body >
    <main class="congratulations">
        <h1>FELICITACIONES POR FINALIZAR TU PEDIDO</h1>
        <div>
            <p>Te agradezco haberte tomado el tiempo de probar esta pagina</p>
            <hr>
            <p>Toda la actividad realizada es de prueba. No te llagaran productos</p>
            <hr>
            <p>Si quieres saber mas de mi, puedes ir a los enlaces en el pie de pagina</p>
        </div>
    </main>
</body>
</html>