<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/e-comerce/src/styles/styles.css">
    <title>e-comerce - Home</title>
</head>
<body>
    <main class="container">
        <h1>Bienvenido a Fake Store</h1>
        <h3>Esta es una SPA que interactua con Feke Store API</h3>
        <img src="https://fakestoreapi.com/icons/logo.png" alt="">
        <a href="https://fakestoreapi.com/" target="_blank">Mas sobre la API</a>
        <section class="presetation">            
                <p>Esta SPA esta ralizada solo con JavaScript(Vanilla), HTML y CSS</p>
                <hr>
                <p>Simulamos una tienda de compras para evaluacion tecnica</p>
                <hr>
                <p>Espero que disfrutes esta experiencia</p>
                <hr>
        </section>
    </main>
</body>
</html>